body {
  font-family: "Artifika";
}
.wrapper {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 1px solid rgb(170, 62, 170);
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url(./images/beautiful-beautiful-flowers-bloom-354587.jpg);
}
a {
  color: black;
  text-decoration: none;
}
section {
  height: 100%;
}
.fas {
  color: red;
}
button {
  font-family: "Artifika";
}
h1 {
  font-family: "Berkshire Swash";
}
.royaltee {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header {
  height: 65%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  color: rgba(56, 8, 47, 0.904);
}
.header h1 {
  font-size: 3.5em;
}
.start-btn {
  padding: 10px 40px;
  font-size: 1.2em;
  background-color: rgba(160, 48, 48, 0.664);
  color: white;
  border: none;
}
.rules {
  color: white;
  background-color: rgba(167, 75, 150, 0.788);
  margin: 10px;
  padding: 10px;
  border-top-right-radius: 30%;
}
.rules h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.rules p {
  padding: 0;
  margin: 0;
}
.select-an-option {
  width: 80%;
}
.select-one {
  height: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.select-btn button {
  padding: 20px 50px;
  font-size: 1.2em;
  background-color: rgba(128, 0, 0, 0.548);
  color: white;
  border: none;
  margin: 20px;
}
#select-truth button {
  border-top-right-radius: 30%;
}
#select-dare button {
  border-bottom-left-radius: 30%;
}
.select-an-option .back {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.select-an-option .back button {
  background-color: red;
  padding: 5px 10px;
  border: none;
}
.challenge {
  height: 60%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.challenge .challenge-header {
  font-size: 3em;
  color: rgba(167, 75, 150, 0.788);
}
.accept-or-decline {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accept-or-decline button {
  padding: 20px 50px;
  font-size: 1.2em;
  background-color: rgba(128, 0, 0, 0.548);
  color: white;
  border: none;
  margin: 20px;
}
.timer {
  height: 8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: blue;
  font-size: 1.2em;
}
.question-section1 .back {
  height: 7%;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  align-items: center;
}

.question-section1 .back button {
  background-color: red;
  padding: 5px 10px;
  border: none;
}
.penalty {
  width: 80%;
}
.do {
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.do h1 {
  font-size: 3em;
  color: rgba(167, 75, 150, 0.788);
}
.do .must-do {
  font-size: 1.6em;
}
.penalty .back-to-home {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
.penalty .back-to-home button {
  background-color: red;
  padding: 5px 10px;
  border: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80vw;
    padding: 10px;
  }
  .header {
    height: 65%;
  }
  .header h1 {
    font-size: 2em;
  }
  .rules {
    font-size: 0.6em;
  }
  .challenge {
    height: 60%;
  }
  .accept-or-decline {
    height: 10%;
  }
  .timer {
    height: 10%;
  }
  .question-section1 .back {
    height: 7%;
  }
  .challenge .challenge-header {
    font-size: 2em;
  }
  .accept-or-decline button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 5px;
  }
  .penalty h1 {
    font-size: 2em;
  }
}
